@font-face {
  font-family: "SFUIText";
  font-style: normal;
  font-weight: 400;
  src: local("SFUIText"), local("SFUIText"), url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff");
}