.container() {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  @media @tablet-widths {
    width: 764px;
    padding: 0 62px;
  }
  @media @desktop-widths {
    width: 1366px;
    padding: 0 100px;
  }
}