.container() {
  min-width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  transition: all .5s;

  @media @min-tablet-widths {
    min-width: 490px;
  }

  @media @tablet-widths {
    min-width: 764px;
    padding: 0 62px;
  }

  @media @min-desktop-widths {
    min-width: 998px;
  }

  @media @desktop-widths {
    min-width: 1366px;
    padding: 0 100px;
  }

  @media @max-desktop-widths {
    min-width: 1585px;
  }
}