.main-content__schedule {
  padding-top: 40px;
  & .schedule__title {
    margin-bottom: 25px;
    & span {
      margin-right: 5px;
    }
  }
}

.beginner {
  margin: 20px;
  border-radius: 4px;
  padding: 100px 45px 40px;
  color: #fff;
  background-color: rgba(145, 170, 89, 0.5);
  & .beginner__title {
    display: flex;
    flex-direction: column; 
    & span {
      font-size: 12px;
    }
  }
}